WORKER_SERVER_URL=http://118.31.19.168:8000
WORKER_TOKEN=19960325Hby-worker
WORKER_CLIENT_ID=把网页右上角显示的采集端ID填到这里
WORKER_POLL_INTERVAL_SECONDS=5

CRAWLER_HEADLESS=false
CRAWLER_MANUAL_MODE=true
CRAWLER_USE_DEFAULT_BROWSER=true
CRAWLER_BROWSER_EXECUTABLE_PATH=
CRAWLER_BROWSER_CHANNEL=
CRAWLER_TIMEOUT_MS=180000
CRAWLER_MANUAL_WAIT_MS=180000
CRAWLER_USER_DATA_DIR=data/playwright_profile

CRAWLER_CDP_URL=
CRAWLER_AUTO_START_CDP=true
CRAWLER_CDP_PORT=9223
CRAWLER_CDP_USER_DATA_DIR=data/chrome_debug_profile
CRAWLER_CDP_BACKGROUND=true
